<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="">
    <title>{% block title %}{% endblock title %}</title>
</head>
<body>
    {% comment %} header part start {% endcomment %}

    Header part

    {% comment %} header part end {% endcomment %}

    {% block content %}
    
    {% endblock content %}

    {% comment %} footer start  {% endcomment %}

    Footer part

    {% comment %} footer end  {% endcomment %}


    <script></script>
</body>
</html>